.s{
	color: white;
	text-align: center;

	padding: 10px;
	font-size: 100px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.b1{background: green;}
.b2{background: blue;}
.b3{background: pink;}
.b4{background: grey;}
.container
{
	display: inline-flex;
	border: 10px solid goldenrod;
}