body{
	margin: 0;
	padding :0;
	font-family: sans-serif;
	background: black;

	
}
header {
	padding: 10px 100px;
	color: white;
	min-height: 600px;
	min-width: 600px;
}
section {
	width: 100%;
	height: 100vh;
}

section.sec1 {
	background: url('ex1.jpg') no-repeat 0 10px;
	
	
	
}
section.sec2 {
	padding: 100px;
	box-sizing: border-box;
	height:auto;
	color: white;
}
section.sec2 h2{
	font-size: 3em;
	margin: 0;
	padding: 0 0 20px;
	color: white;
}
section.sec2 p{
	font-size: 1.4em;
	margin: 0;
	padding: 0;
	color: white;
}
.sec3 {
	;
	display: flex;
	justify-content: space-between;
	height: 500px;
	flex-wrap:  wrap;
	color: white


}
.box1{
	width: 300px;
	
	
}
.box2{
	width: 300px;
}
.box3{
	width: 300px;
}
.box4{
	width: 300px;
}
.box5{
	width: 300px;
}
.box6{
	width: 300px;
}
nav {
	width: 100%;
	height: 50px;
	background: rgba(0, 0, 0, 0.8);
	border-top: 1px solid grey;
	border-bottom:  1px rgba(255,255,255,.2);
	text-decoration: none;
	top: 0px; /*to stick on top*/
	position: sticky;
	

}
nav ul {
	display: flex;
	text-decoration: none;
	list-style: none;
	margin: 0;
	padding: 0;
	justify-content: flex-end;
	justify-content: space-between;
}
nav ul li a {
	display: flex;
	width:40%; 
	color: white;
	text-decoration: none;
	padding: 0 20px;
	line-height: 50px;
}


nav ul li a:hover,
nav ul li a.active{
	color: red;
font-weight: bold;
}

@media(max-width: 768px)
{  nav .bb{
	float: none;
	text-align: center;
}
	.sec2{
		margin-top: 40px;
	}
	.sec3 {
		text-align: center;
		width: 100%;
	}
}