body {
	font-family: sans-serif;
	font-size: 15px;
	line-height:1.5;
	padding: 0;
	margin: 0;
	background-color: black;
}
/*common to all*/
.container
{
	width: 80%;
	margin: auto; /* moves to the middle*/
	overflow: hidden;
}

ul {
	margin: 0;
	padding: 0;
}

header{
	background-color: black;
	color: #f4f4f4;
	padding-top: 20px;
	min-height: 50px; /*responsiveness*/
	margin-left:30px;
	padding-bottom: 0px;
}
header h1{
	font-size: 30px;
}
/*links inside the header*/
header a{
	color: white;
	text-decoration: none ;/* no underline!*/
	text-transform: uppercase;
	font-size: 12px;
	
	margin: 5px; /*to make the list items to have space in between*/

}
/*to make the list items horizontal */
header ul{
	display: flex;
	justify-content: space-between;
	list-style: none; /*removing the bullets*/

}
/* nav positioning */
header nav {
	display: flex;
	justify-content: flex-end;
	

}
header a:hover{
	font-weight: bold;
}
/*got pic*/
#show{
	min-height: 400px ;/*to be responsive*/
	background:url('../img/nerd.jpeg') no-repeat 0 0;
	border:1px solid black;
	width:100%;
	color: #f4f4f4;
	background-size:cover; /*this will let the picture  cover the whole window */
	text-align: center;
	padding: 20px;
	margin-bottom: 5px;
	
}
#show h1{
	font-family:arial;
	margin-top: 0px;
	margin-bottom: 500px;
	font-size: 30px;
}
/* newsletter*/
#newsletter{
	display: flex;
	background: #35424a;
	padding: 15px;

}

#newsletter form {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 5px;
}
#newsletter label {
	font-size: 25px;
}
/*boxes*/

.c{
	margin-top: 40px;
	display: flex;
	color: white;
	
	justify-content: space-around;

}

.box1, .box2, .box3 , .box4, .box5, .box6{

	text-align: center;

	
}

footer{
	color: white;
	display: flex;
	justify-content: flex-end;
	margin-right: 20px;
}



	

